.App {
  margin: 0;
  padding: 0;
  text-align: left justify;
}

.ServiceCategoryCol {
  min-width: 450px;
  max-width: 450px;

}
.ServiceCategoryRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style: none;
} */

body {
  background-color: #fffcf7;
}